<!-- <body> -->
<div class="border">
<p> Pick An Artist: </p>
  <form>
      <mat-radio-group>
          <mat-radio-button class="example-radio-button" *ngFor="let artist of list" [value]="artist" (click)= "artistFocus = artist">
              {{artist}}
          </mat-radio-button>
        </mat-radio-group>
      <br>
  </form>
</div>
<br>
<br>

<div *ngIf="artistFocus == '';else artist_picked"><h4>Please pick an artist!</h4></div>

<div *ngIf="artistFocus == 'Kanye West'">
  
  <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event, artistFocus)">
    <mat-tab *ngFor="let sample of kanyeSamples;" label="Song">{{sample}}</mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="artistFocus == 'The Beatles'">
<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event, artistFocus)">
    <mat-tab *ngFor="let sample of beatlesSamples;" label="Song">{{sample}}</mat-tab>
  </mat-tab-group>
</div>


<mat-tab-group>
  <mat-tab label="Let us pick"><br><h4>We will just generate lyrics for you. Click generate</h4></mat-tab>
  <mat-tab label="Enter your own lyrics">
    <br>
    <h4>Enter your own lyrics to generate on: </h4>
      <br>
      <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter lyrics: " value="Its been a hard days night...">
      </mat-form-field>
    </form>
  </mat-tab>
</mat-tab-group>
<!-- <div *ngIf="artistFocus == 'The Beatles'">
    <mat-tab-group id="GroupTable">
      <mat-tab label="Song 1" id="Song1">
           It Won't Be Long<br>  
          All I've Got To Do<br>  
          All My Loving<br>  
          Don't Bother Me</mat-tab>
      <mat-tab label="Song 2">
          Within You Without You<br>  
          When I'm Sixty Four<br>  
          Lovely Rita
      </mat-tab>
      <mat-tab label="Song 3">
          You Know What To Do<br>  
          No Reply<br>  
          Mr. Moonlight<br>  
          Leave My Kitten Alone<br>  
          Eight Days A Week
      </mat-tab>
  </mat-tab-group></div> -->





<!-- creating strings for selecting -->
<!-- <div class="btn-group">
  <button>Str1</button>
  <button>Str2</button>
  <button>Str3</button>
</div> -->
<br>

<br>


<!-- Generate Button -->
<div ng-if="results" style="text-align: center;">
  <button mat-button color="primary" (click) = "postLyrics()"  (click)="results = true">Generate</button>
</div>
<br>
<br>
<!-- </body> -->


<div *ngIf="!results;else other_content"></div>

<ng-template #other_content>
  <p>Results:</p>
  <textarea id="text"></textarea>
</ng-template>
<!-- <h4>Angular application starts here: </h4>
<h1>Here is the artist list: </h1>
<li *ngFor="let item of list">
  {{i}}{{item}} <span *ngIf="isFirst">default</span>
</li> -->
