body {
    background-color: coral;
    }
    div.border {
    border-style: solid;
    border-width: 2.5px;
     border-radius: 5px;
     text-align:center;
    }
    .example-radio-group {
        display: inline-flex;
        flex-direction: column;
      }

    .example-radio-button {
    margin: 5px;
    }

    .example-selected-value {
    margin: 15px 0;
    }


    .btn-group button {
        background-color: #D7D6D6;
        border: 1px solid green;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: left;
         padding: 15px 735px;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;

    }

    .btn-group button:not(:last-child) {
        border-right: none;

    }

    .btn-group button:hover {
        background-color: red;
    }


    #GB{
    color: white;
    border-width: 2.5px;
     border-radius: 5px;
     text-align:center;
     padding: 15px 720px;
    }
    #text{
     padding: 15px 660px;
    }


.progress{
    height: 10%;
    text-align: center
}
pre{ 
    font-family: "courier new", courier, monospace;
    font-size: 15px;
    text-align: center;
}
.artist-list{
text-decoration:none;
color:#2a2b2d;
font-size: 30px;
}
.radio-inline{
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 3px;
}

.button {
backface-visibility: hidden;
position: relative;
cursor: pointer;
display: inline-block;
white-space: nowrap;
background: #337ab7;
border-radius: 5px;
border: 0px solid #444444;
border-width: 0px 0px 0px 0px;
padding: 10px 24px 10px 24px;
  color: #ffffff;
font-size: 16px;
font-family: arial;
font-weight: 100;
font-style: normal
}


.form-control{
  width:600px;

}
