.home-img{
    margin-top: -20px;
    max-width: 100%;
    width: 100%;
    height: 650px;
    }

    .container-fluid{
      position: relative;
      text-align: center;
      color: white;
    }

    .btn {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      padding: 30px;
      background-color: rgba(186,186,186,0.5);
      border: 1px solid gray;
      font-family:  Tahoma;
      color: black;
      font-size: 27px;
      padding: 19px;
      text-decoration: none;
    }
body{
      background-color: coral;
}


#bg {
  width: auto;
  width: 30rem;

}

#breath {
  text-align: center;
  margin-top: 80px;
}

#center_pic{
  text-align: center;
  width: 400px;
  height: 400px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}


.right{
  background-color: white;
  text-align: right;
  width: 20%;
  height: 100px;
}


.example-button-row button{
  margin:auto;
  display:block;
  height: 100px;
  width:350px;
}
.example-button-row a {
  margin-right: 8px;
  text-align: center;
  height: 100px;
  width:350px;
}

.splash-imgs{
  height: 290px;
  }

.splash-imgs-small{
height: 145px;
width: 145px;
}
