<html>
<head>
<title>Home Page</title>

 <!-- Links to CSS AND JavaScript -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Homepage.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='Homepage.js')}}"></script>
<h1> Home Page:</h1>

<!-- Creating  a border for picking an artist -->
<div class="border">
<p> Pick An Artist: </p>
 <form>
  <input type="checkbox" > Artist1<br>
  <input type="checkbox"> Artist2<br>
  <input type="checkbox"> Artist3 
</form>
</div>
<br>

<!-- creating strings for selecting -->
<div class="btn-group">
  <button>Str1</button>
  <button>Str2</button>
  <button>Str3</button>
</div>
<br>

<!-- Generate Button -->
<button id="GB"> Generate </button>
<br>

<!-- Results textarea -->
<p>Results:</p>
<textarea id="text"></textarea>


</head>
</html>
