<div class="about">
 <div class="card border-primary mb-3" style="max-width: 28rem;">
  <div class="card-header">Lyric Generator</div>
   <div class="card-body text-primary">
    <!-- <h5 class="card-title">This is project made as a part of Maynooth University's Computer Science CS322, Music Programming</h5> -->
     <p class="card-text">This is project made as a part of Maynooth University's Computer Science CS322, Music Programming.</p>
   </div>
 </div>
</div>

<!-- <button (click) = "playSound()"> Play Sound</button> -->